
@import "../../../variables.scss";

@mixin tableBorder($color: gray) {
  border-top: 1px solid $color;
  tr {
    border-bottom: 1px solid $color;
  }

  th, td {
    border-left: 1px solid $color;
    &:last-child {
      border-right: 1px solid $color;
    }
  }
}


.title {
    font-size: $font-l;
  }

.list {
  width: 80%;
  margin :1rem auto;
  font-size: $font-default;

  // border
  @include tableBorder();

  td, th {
    padding: 1rem;
    text-align: center;
  }

  th {
    background-color: gray;
    color: white;
  }
}
